name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          filename: github-metrics.svg
          output_action: commit
          committer_branch: main

          base: header, activity, community, repositories, metadata

          # Disable broken plugins
          plugin_achievements: false
          plugin_habits: false

          # Safe plugins
          plugin_languages: true
          plugin_isocalendar: true
