name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: rajni2209
          template: classic
          base: header, activity, community, repositories, metadata

          # Languages
          plugin_languages: yes
          plugin_languages_limit: 6

          # Achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact

          # Coding habits
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          # Contribution calendar
          plugin_calendar: yes
